<nav>
  <ul>
    <li><a href="http://localhost:4000/cars">Voitures</a></li>
    <li><a href="http://localhost:4000/bikes">Motos</a></li>
    <li><a href="http://localhost:4000/create/car">Ajouter une voiture</a></li>
  </ul>
</nav>
