<%- include('partials/head') %>

<%- include('header') %>

<h1>Ajouter un animal</h1>

<form>
  <label for="name">Nom :</label>
  <input type="text" id="name">

  <label for="age">Age :</label>
  <input type="text" id="age">

  <button type="submit" onclick="createAnimal()">Créer</button>
</form>
